# このファイルを参考にSecretを作成してください
# kubectl create secret generic gameday-workflow-workflow-notification-secrets \
#   --from-literal=database-url='postgresql://gameday_user:gameday_password@gameday-workflow-db:5432/gameday_workflow_notification' \
#   --namespace=gameday-workflow

apiVersion: v1
kind: Secret
metadata:
  name: gameday-workflow-workflow-notification-secrets
  namespace: gameday-workflow
type: Opaque
stringData:
  database-url: "postgresql://gameday_user:gameday_password@gameday-workflow-db:5432/gameday_workflow_notification"
